## Contents
1. Install Required Libraries
2. Import Libraries into Your Notebook
3. Importing the Data
4. Check the Data
5. Import the products.csv File
6. Explore the Dataframes
7. Clean the Data (Optional but Recommended)
8. Export Cleaned Data

# Install Required Libraries

In [2]:
!pip install pandas numpy

Requirement already satisfied: pandas in d:\users\ripple\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy in d:\users\ripple\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\users\ripple\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\users\ripple\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\users\ripple\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\users\ripple\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Import Libraries into Your Notebook

In [5]:
import pandas as pd
import numpy as np
import os

# Importing the Data

In [22]:
# Set Up the Folder Path
path = r'C:\Users\Ripple\Desktop\YVC\Data Analytics (CF)\Python Fundamentals for Data Analysts\4.3 Instacart Basket Analysis'

In [ ]:
# Import the orders.csv File
orders = pd.read_csv(r'C:\Users\Ripple\Desktop\YVC\Data Analytics (CF)\Python Fundamentals for Data Analysts\4.3 Instacart Basket Analysis\Original Data\orders.csv')

In [18]:
# Import the products.csv File
orders = pd.read_csv(os.path.join(path, 'Original Data', 'orders.csv'))

# Check the Data

In [25]:
# Display the first 5 rows
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [27]:
# quick summary of the dataframe
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [29]:
# look at only the column names
orders.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

# Import the products.csv File

In [32]:
# Import the products.csv File
products = pd.read_csv(os.path.join(path, 'Original Data', 'products.csv'))

In [34]:
# Display the first 5 rows
products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [36]:
# Display the structure of the dataframe
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

#  Explore the Dataframes

In [47]:
# Check the Dimensions: .shape: Tells us the size of each dataframe (rows, columns)
print("Orders shape:", orders.shape)
print("Products shape:", products.shape)

Orders shape: (3421083, 7)
Products shape: (49693, 5)

In [49]:
# Column Names: List all column names to get an overview of the variables
print("Orders columns:", orders.columns)
print("Products columns:", products.columns)

#.columns: Lists all the column names so we know what data is available.

Orders columns: Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')
Products columns: Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [51]:
# Descriptive Statistics: Generate summary statistics for numeric columns
print("Orders statistics:")
print(orders.describe())

print("\nProducts statistics:")
print(products.describe())

# .describe(): Summarizes numeric columns, showing stats like mean, min, max, etc.

Orders statistics:
           order_id       user_id  order_number     order_dow  \
count  3.421083e+06  3.421083e+06  3.421083e+06  3.421083e+06
mean   1.710542e+06  1.029782e+05  1.715486e+01  2.776219e+00
std    9.875817e+05  5.953372e+04  1.773316e+01  2.046829e+00
min    1.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00
25%    8.552715e+05  5.139400e+04  5.000000e+00  1.000000e+00
50%    1.710542e+06  1.026890e+05  1.100000e+01  3.000000e+00
75%    2.565812e+06  1.543850e+05  2.300000e+01  5.000000e+00
max    3.421083e+06  2.062090e+05  1.000000e+02  6.000000e+00

       order_hour_of_day  days_since_prior_order
count       3.421083e+06            3.214874e+06
mean        1.345202e+01            1.111484e+01
std         4.226088e+00            9.206737e+00
min         0.000000e+00            0.000000e+00
25%         1.000000e+01            4.000000e+00
50%         1.300000e+01            7.000000e+00
75%         1.600000e+01            1.500000e+01
max         2.300000e+01            3.000000e+01

Products statistics:
         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [53]:
# First and Last Rows: Display the first and last rows of each dataframe to understand the data distribution
print("First rows of orders:")
print(orders.head())

print("\nLast rows of products:")
print(products.tail())

# .head() and .tail(): Shows the first and last rows to preview the data.

First rows of orders:
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0

Last rows of products:
       product_id                                product_name  aisle_id  \
49688       49684   Vodka, Triple Distilled, Twist of Vanilla       124
49689       49685          En Croute Roast Hazelnut Cranberry        42
49690       49686                            Artisan Baguette       112
49691       49687  Smartblend Healthy Metabolism Dry Cat Food        41
49692       49688                      Fresh Foaming Cleanser        73

       department_id  prices
49688              5     5.3
49689              1     3.1
49690              3     7.8
49691              8     4.7
49692             11    13.5

# Clean the Data (Optional but Recommended)

In [56]:
# Check for Missing Values: Use .isnull() and .sum() to identify columns with missing data

print("Missing values in orders:")
print(orders.isnull().sum())

print("\nMissing values in products:")
print(products.isnull().sum())

Missing values in orders:
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

Missing values in products:
product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [58]:
# Drop Unnecessary Columns: If there are any columns you donâ€™t need, you can drop them using .drop()

# Example: Dropping a column named 'eval_set' in the orders dataframe
orders = orders.drop(columns=['eval_set'], errors='ignore')

In [60]:
# Save Cleaned Data (Optional): Save your cleaned dataframes to your Prepared Data folder
# Save the orders dataframe
orders.to_csv(os.path.join(path, 'Prepared Data', 'cleaned_orders.csv'), index=False)

# Save the products dataframe
products.to_csv(os.path.join(path, 'Prepared Data', 'cleaned_products.csv'), index=False)